<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/stylesheets/landing.css">
    <title>Landing</title>
</head>
<body>
    <div id="landing-header">
        <h1>Welcome to Box!</h1>
       <a href="/campgrounds" class="btn btn-lg btn-success">View All Campgrounds</a>
   </div>
</body>
</html>